<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="tradeMQProducer" class="com.xqx.ych.common.rocketmq.TradeMQProducer" init-method="init">
        <property name="groupName" value="enrollProducerGroup"></property>
        <property name="nameSrvAddr" value="192.168.71.13:9876;192.168.71.16:9876"></property>
    </bean>
</beans>